textarea{
    width: 100%;
    height: 250px;
}
input{
    width: 100%;
}
button{
    width: 100%;
}
body{
    background: #89A7CE;
}
.new-post{
    margin: 0 auto;
    width: 520px;
    background: #B291A7;
    /*background: #db5a7e;*/
    padding: 20px;
    color: #030d3d;
}
.edit-post{
    margin: 0 auto;
    width: 520px;
    background: #633000;
    padding: 20px;
    color: white;
}
.post-container{
    overflow-y: scroll;
    height: 150px;
}
.post{
    margin: 10px auto;
    width: 520px;
    background: #542C3D;
    padding: 20px;
    color: #E0AAc7;
}
.comment{
    margin: 5px auto;
    width: 465px;
    background: #1fcecb;
    /*#https://pikabu.ru/story/tsvet_yaits_stranstvuyushchego_drozda_4168563*/
    padding: 20px;
    color: #542C3D;
}
.comment-box{
    margin: 0px auto;
    width: 520px;
    background: #E0AAc7;
    padding: 0px;
    color: #200772;
}

.error{
    margin: 0 auto;
    width: 800px;
    background: #4e0063;
    padding: 20px;
    color: white;
}
img {
    width: 100%;
}