{% extends "base.html" %}

{% block content %}
    <div class="new-post">
        <h1>Новый пост)</h1>
        <form action="" method="post" novalidate width = 500px>
            {{ form.hidden_tag() }}
            <p>
                {{ form.name_user.label }}<br>
                {{ form.name_user(size=32) }}
            </p>
            <p>
                {{ form.title.label }}<br>
                {{ form.title(size=32) }}
            </p>
            <p>
                {{ form.text.label }}<br>
                {{ form.text(size=32) }}
            </p>

            <p>{{ form.submit() }}</p>
        </form>
    </div>
{% endblock %}