{% extends "base.html" %} <!-- Наследование от шаблона --->

{% block content %} <!-- Сам блок --->
    {% for p in posts %}
        <div class="post">
            <h1>{{ p.title }}</h1>
            {{ p.text }}<br>
            Автор: {{ p.name_user }}
            <div class="post-container">
                {% for c in p.comments %}
                    <div class="comment">
                        {{ c.comment }}
                    </div>
                {% endfor %}
            </div>
            <div class="post">
                <form method="post" id = "qwe">
                    {{ p.form.csrf_token() }}
                    {{ p.form.id }}
                    <p>
                        {{ p.form.comment(size=32) }}
                    </p>

                    <p>{{ p.form.submit() }}</p>
                </form>
            </div>
        </div>
    {% endfor %}
{% endblock %}